.btn-outline{
    // display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    // color: white;
    margin: 8px 10px;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    &.btn-outline-dark{
        border: 1px solid var(--font);
        color: var(--font);
    }
    &.btn-outline-danger{
        border: 1px solid #be0e08;
        color: #be0e08;
        
    }
   
}


// .btn{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 8px 10px;
//     font-size: 16px;
//     cursor: pointer;
//     margin: 8px 10px;
//     padding: 10px 25px;
//     border-radius: 8px;
    
   
// }


