.btn-outline{
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    a,span{
        padding: 0 2px;
    }
    &.btn-outline-dark{
        border: 1px solid var(--font);
        color: var(--font);
        a{
            color: var(--font);
        }
    }
    &.btn-outline-danger{
        border: 1px solid #be0e08;
        color: #be0e08;
        
    }
}

.btn{
    color: #fff;
    &:hover, &:focus{
        background: transparent;
    }
    span{
        padding: 0 2px;
    }
}
.btn-main{
    background: #FBA30D;
    &:hover, &:focus{
        color: #FBA30D;
    }
}
.btn-dark{
    &:hover, &:focus{
        color: #212529;
    }
}




