.setting-page{
    .nav.nav-tabs{
        border: none;
        .nav-link{
            z-index: 10;
            width:50%;
            border: none;
            font-family: Almarai;
            font-weight: bold;
            font-size: 18px;
            text-align: right;
            color: #2a2e33;
            border-radius: 0;
            text-align: center;
            border-bottom: 2px solid transparent;
            &.active{
                border-bottom: 2px solid #fba30d;
            }
            @media (min-width: 991px) {
                width: 100%;
                height: 94px;
                font-size: 20px;
                border-right: 2px solid transparent;
                &.active{
                    border-bottom: none;
                    border-right: 2px solid #fba30d;
                }
            }
        }
    }

    .tab-content{
        background: #fff;
        box-shadow:0px 16px 40px rgba(112, 144, 176, 0.2);
        border-radius: 10px;
        padding: 20px 4px;
        @media (min-width: 991px) {
            
            border-radius: 50px;
            padding:50px
        }
        .switch-item{
            height: 40px;
            border-radius: 2px;
            border: 1px solid #b8b8b8;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            font-family: Almarai;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: -0.02em;
            line-height: 45px;
            text-align: right;
            color: #2a2e33;

        }


    }







    // .ant-tabs-nav-list{
    //     margin-top: 70px;
    //     .ant-tabs-tab{
    //         width: 321px;
    //         height: 94px;
    //         font-family: Almarai;
    //         font-weight: bold;
    //         font-size: 20px;
    //         text-align: right;
    //         color: #2a2e33;
    //         text-align: center;
    //         transition: 1s;
    //         &.ant-tabs-tab-active{
    //             transition: 1s;
    //             background: #fff;
    //         }
    //         .ant-tabs-tab-btn{
    //             margin: auto;
    //             color: #000;
    //         }
    //     }
    // }
    // .ant-tabs-content-holder{
    //     background: #fff;
    //     box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    //     border-radius: 50px;
    //     padding:50px;
    // }
}